
 <%= render "shared/navbar_home" %>


 <div class="banner" style="background: url('http://referentiel.nouvelobs.com/file/14457347.jpg');">
   <div class="col-xs-12 col-sm-8 col-md-10">
     <div class="title">
       <h1>TIME TO HUNT</h1>
       <h3>Book hunting properties in more than 75 countries around the world.</h3>
       <br>
       <div class="search-bar-container">
        <div class="search-bar">
          <form action="#" class="form-inline">
            <%= form_tag url_for(action: 'index', controller: 'hunts'), :id => 'search', :method => :get do %>
            <%= text_field_tag :search, params[:search], placeholder: "Location?"%>
            <select name="" id="" class="form-control input-lg">
              <% (1..15).each do |i| %>
              <option value=<%= i %>><%= i %></option>
              <%end%>
            </select>
          </select>
          <%= submit_tag "Search Hunt", :address => nil, class: "btn btn-danger" %>
          <% end %>
        </form>
      </div>
    </div>
  </div>
</div>
</div>



<div class="container_cards">
  <div class="row">
   <% @hunts.each do |hunt| %>
    <div class="col-xs-12 col-sm-4">
      <div class="image">
        <%= cl_image_tag( hunt.photo,
      width: 375, height: 225, crop: :fill) %>
        <div class="card-category"><%= hunt.address %></div>
        <div class="card-description">
          <h2> <%= hunt.name %></h2>
          <p>Capacity <%= hunt.capacity %> guns</p>
          <p>Daily Price <%= hunt.day_price %> €</p>
        </div>
        <%= link_to '', hunt_path(hunt), class: "card-link"  %>
      </div>
    </div>
  <%end%>
      </div>
    </div>
  </div>
</div>

 <div class="map" >
    <div id="map" style="width: 100%; height: 400px;"></div>

    <% content_for(:after_js) do %>

    <%= javascript_tag do %>
    $(document).on('ready', function() {
    var handler = Gmaps.build('Google');
    handler.buildMap( { provider: { scrollwheel: false }, internal: { id: 'map' }, }, function() {
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    if (markers.length == 0) {
    handler.getMap().setZoom(2);
  } else if (markers.length == 1) {
  handler.getMap().setZoom(14);
}
});
});
<% end %>
<% end %>
</div>


