<%= render "shared/navbar_home" %>

<%= cl_image_tag( @hunt.photo,width: 1300, height: 400, crop: :fill) %>


<div class = "show-hunt">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 ">
      <div class="show-details">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAleAAAAJGViOWI1MDRiLWNhMWUtNDVhYy1hNzA1LTQxZTEzNjdmMzhhZQ.jpg" alt="user" class=" avatar-show">
        <div class="main-info">
          <% i = 0 %>
          <% ratingtotal = 0 %>
          <% @hunt.reviews.each do |r| %>
          <% i += 1 %>
          <% ratingtotal += r.rating if r.rating != nil %>
          <% end %>
          <% i = ratingtotal / i if i != 0 %>
          <% i.to_i.times do %>
          <i class="fa fa-star fa-2x" aria-hidden="true"></i>
          <% end %>
          <% (5 - i.to_i).times do %>
          <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
          <% end %><br>
          <h1> <%= @hunt.name %> </h1>
          <p>Lovely hunting property in <%= @hunt.address %></p>
        </div>
      </div>
    </div>
      <div class="col-xs-12 col-sm-5">
        <form action="#">
          <h4>Book this hunting property</h4>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="checkin date" id="checkin">
              </div>
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="checkout date">
              </div>
            </div>
          </div>
          <div class="form-group">
            <select name="" id="hunters" class="form-control">
               <% (1..@hunt.capacity).each do |i| %>
               <option value=<%= i %>><%= i %></option>
               <%end%>
            </select>
          </div>
          <input type="submit" class="btn btn-primary" value="Book it" style="width: 100%">
        </form>
      </div>
  </div>
</div>

<div id="property-description">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2>About this property</h2>
        <p><%= @hunt.description %></p>
        <hr>
        <div class="row" id="hunt-data">
          <div class="col-xs-12 col-sm-2">
            Details
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Accommodates:  <strong><%= @hunt.capacity %></strong></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li>Beds: <strong><%= @hunt.capacity %></strong></li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row" id="hunt-data">
          <div class="col-xs-12 col-sm-2">
            Amenities
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li><i class="fa fa-cutlery"></i><strong>Kitchen</strong></li>
              <li><i class="fa fa-wifi"></i><strong>Wifi</strong></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4">
            <ul class="list-unstyled">
              <li><i class="fa fa-desktop"></i><strong>TV</strong></li>
              <li><i class="fa fa-glass"></i><strong>Welcome drink</strong></li>
            </ul>
          </div>
        </div>

        <% @hunt.reviews.each do |r| %>
           <hr>
          <div id="review-hunt">
            <% if user_signed_in? && current_user.facebook_picture_url %>
              <div id="avatar_review" >
                <%= image_tag current_user.facebook_picture_url, height: 40, width: 40 %>
              </div>
            <%else%>
              <div id="avatar_review" >
                <img src="http://medias.mensquare.com/wp-content/uploads/sites/3/2015/09/10164858/facebook-anonymous-silhouette.png" style="height: 40px; width: 40px;" >
              </div>
            <% end %>

            <div id="stars">
              <% if r.rating != nil %>
                <% r.rating.times do %>
                <i class="fa fa-star" aria-hidden="true"></i>
               <% end %>
               <% (5 - r.rating).times do %>
                <i class="fa fa-star-o" aria-hidden="true"></i>
               <% end %>
               <%end%>
            </div><br><br><br>
            <%= r.content %><br><br><br>
            <div id="delete-review">
              <% if r.user == current_user && user_signed_in? %>
              <%= link_to "Delete", hunt_review_path(@hunt, r), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-danger btn-xs" %>
              <%end%><br>
            </div>
          </div>
        <%end%>


        <hr>

        <div id="form-add-review">
         <% if current_user && user_signed_in? %>
         <%= simple_form_for @review, url: hunt_reviews_path(@hunt) do |f| %>
         <%= f.input :rating %>
         <%= f.input :content %>
         <%= f.submit "Add a new review", :class => "btn btn-primary" %>
         <% end %>
         <%end%>
       </div>


    </div>
  </div>
</div>


<div class="map" >
  <div id="map" style="width: 100%; height: 300px;"></div>

    <% content_for(:after_js) do %>

    <% javascript_tag do %>
    $(document).on('ready', function() {
    var handler = Gmaps.build('Google');
    handler.buildMap( { provider: { scrollwheel: false }, internal: { id: 'map' }, }, function() {
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    if (markers.length == 0) {
      handler.getMap().setZoom(2);
    } else if (markers.length == 1) {
      handler.getMap().setZoom(14);
    }
});
});
  <% end %>
  <%end %>
</div>


