<div class="navbar-lebonchasseur-home">
  <!-- Logo -->
    <div id="logo" >
      <%= link_to 'LeBonChasseur', root_path %>
    </div>

    <% if current_user %>
      <div id="menu-deroulant" >
        <li><a href="#">Menu</a>
          <ul>
             <li><%= link_to 'Hunts', account_hunts_path %></li>
             <li><%= link_to 'Bookings', account_bookings_path %></li>
             <li><%= link_to 'Profile', account_profile_path %></li>
          </ul>
        </li>
      </div>

      <div id="deconnexion" >
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      </div>
      <div id="mail_logged_in" >
        <div class="badge-container">
        <i class="fa fa-envelope-o"></i>
      </div>
    </div>
      <% if user_signed_in? && current_user.facebook_picture_url %>
        <div id="avatar_navbar" >
         <%= image_tag current_user.facebook_picture_url, height: 28, width: 28 %>
       </div>
      <%end%>
    <% else %>
      <div id="connexion" >
        <%= link_to 'Sign in', new_user_session_path %>
      </div>
      <div id="mail_unlogged" >
      <div class="badge-container">
        <i class="fa fa-envelope-o"></i>
      </div>
    </div>

    <% end %>


    <!-- Notification link-->


</div>




