


<div class="banner" style="background: url('http://www.steiner-optics.com/sites/default/files/Hunting%20%E2%80%93%20Caribou%20Hunt%20%E2%80%93%20Hunter%20Scouting%20Sitting.jpg');">

 <%= render "shared/navbar_home" %>
 <div class="col-xs-12 col-sm-8 col-md-10">
   <div class="title">
     <h1>Time to Hunt</h1>
     <h2>Le plaisir de la chasse à portée de main</h2>
     <br>
     <%= link_to "Search for your dream hunt", hunts_path, class: "btn btn-danger" %>
   </div>
</div>

</div>

<div class="logos">
  <div class="container text-center features">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'travellogo.png' %>
          <p>Travel around the world</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'meetlogo.png' %>
          <p>Meet other hunters</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'huntlogo.png' %>
          <p>Grow your passion</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag 'naturelogo.png' %>
          <p>Enjoy the gifts of mother nature</p>
        </div>
      </div>
    </div>
  </div>

<div class="banner_2" style="background: url('https://hd.unsplash.com/reserve/8INzvLF8TN6oRCKDhcgo_redwood-np.jpg');">
</div>

<div class="container_cards">
  <div class="row">
   <% @sample = @hunts.sample(9) %>
    <% @sample.each do |hunt| %>
    <div class="col-xs-12 col-sm-4">
      <div class="image">
        <%= cl_image_tag( hunt.photo,
      width: 375, height: 225, crop: :fill) %>
        <div class="card-category"><%= hunt.address %></div>
        <div class="card-description">
          <h2> <%= hunt.name %></h2>
          <p>Capacity <%= hunt.capacity %> guns</p>
          <p>Daily Price <%= hunt.day_price %> €</p>
        </div>
        <%= link_to '', hunt_path(hunt), class: "card-link"  %>
      </div>
    </div>
  <%end%>
      </div>
    </div>
  </div>
</div>



