<div class="background-profile" style="background: url('http://i.huffpost.com/gen/1427163/images/o-HUNTER-facebook.jpg');">
<%= render "shared/navbar_home" %>
    <div class="new-container-profile">
      <div class="relative-profile">
        <div class="new-avatar-infos">
          <%= simple_form_for [:account, @profile] do |f| %>
            <%= f.input :name %>
            <%= f.input :avatar_picture %>
            <%= f.input :email %>
            <%= f.input :phone %>
            <%= f.input :license_number %><br>
            <%= f.submit "Submit", :class => "btn btn-info" %>
          <% end %>
        </div>
      </div>
    </div>
</div>
