 <div class="background-hunt" style="background: url('http://www.escapeo.fr/wp-content/uploads/2016/05/le-cerf.jpg');">
  <%= render "shared/navbar_home" %>
    <div class="new-container-hunt">
      <div class="relative-hunt">
        <div class="new-hunt-infos">
          <%= simple_form_for [:account, @hunt] do |f| %>
            <%= f.input :name %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.input :description %>
            <%= f.input :address %>
            <%= f.input :capacity %>
            <%= f.input :day_price %>
            <%= f.submit "Submit", :class => "btn btn-info" %>
          <% end %>
      </div>
    </div>
</div>
</div>
